<h1><?= $exception->getMessage() ?></h1>

<h2>Exception</h2>
<pre>
<?php var_dump( $exception ); ?>
</pre>

<?php if ( $error ): ?>
<h2>Error</h2>
<pre>
<?php var_dump( $option ); ?>
</pre>
<?php endif; ?>

<?php if ( $_REQUEST ): ?>
<h2>Request</h2>
<pre>
<?php var_dump( $_REQUEST ); ?>
</pre>
<?php endif; ?>

<?php if ( $trace ): ?>
<h2>Route Trace</h2>
<pre>
<?php var_dump( $trace ); ?>
</pre>
<?php endif; ?>
